# WordPress
wp-config.php
wp-content/uploads/
wp-content/cache/
wp-content/upgrade/

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Node
node_modules/
npm-debug.log
yarn-error.log

# Build
dist/
*.zip
